
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.game {
  background-color: #717171;
  color: red;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  max-width: 50%;
}
.mob {
  background-image: url('../img/goblin.png') ;
  background-repeat: no-repeat;
  background-size: cover;
}
.info-container {
	background-color: #3f3f3f;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin-bottom: 20px;
}
.hit-value {
	display: inline;
}
.miss-value {
	display: inline;
}

.boxField {
  display: inline-block;
  border: solid 1px black;
  height: 180px;
  width: 180px;
}